.grass {
    background-color: #32CD32;
    /* Verde claro */
    color: white;
}

.poison {
    background-color: #A43E9E;
    /* Púrpura */
    color: white;
}

.fire {
    background-color: #FF4500;
    /* Naranja */
    color: white;
}

.water {
    background-color: #1E90FF;
    /* Azul */
    color: white;
}

.bug {
    background-color: #A7B735;
    /* Verde amarillento */
    color: white;
}

.electric {
    background-color: #FFD700;
    /* Amarillo */
    color: white;
}

.ice {
    background-color: #ADD8E6;
    /* Azul claro */
    color: white;
}

.rock {
    background-color: #A52A2A;
    /* Marrón */
    color: white;
}

.flying {
    background-color: #A889EC;
    /* Azul pálido */
    color: white;
}

.normal {
    background-color: #A8A89C;
    /* Gris */
    color: white;
}

.ground {
    background-color: #D2B48C;
    /* Marrón claro */
    color: white;
}

.fairy {
    background-color: #FFC0CB;
    /* Rosa */
    color: white;
}

.fighting {
    background-color: #C52C48;
    /* Rojo oscuro */
    color: white;
}

.psychic {
    background-color: #FF69B4;
    /* Rosa fuerte */
    color: white;
}

.ghost {
    background-color: #9B59B6;
    /* Púrpura oscuro */
    color: white;
}

.dark {
    background-color: #4B0082;
    /* Indigo */
    color: white;
}

.steel {
    background-color: #B0C4DE;
    /* Azul acero */
    color: white;
}

.dragon {
    background-color: #8A2BE2;
    /* Azul violeta */
    color: white;
}


.logo-container {
    position: relative;
    display: flex;
    align-items: center;
}

.idPokemon {
    font-size: 1.5em;
    color: #666;
    position: absolute;
    bottom: 35px;
    left: 90%;
    transform: translateX(-50%);
    z-index: 1
}

.logo {
    width: 300px;
    height: auto;
    opacity: 0.2;
    margin-right: 25%;
    z-index: 1
}



.detail-container {
    /* Propiedades comunes para el contenedor */
    min-height: 100vh;
    /* Asegura que el contenedor cubra toda la altura de la ventana */
    display: flex;
    /* Otras propiedades de flex si son necesarias */
    flex-direction: column;
    /* Si necesitas un diseño vertical */
}

body {
    margin: 0;
    /* Eliminar márgenes predeterminados */
    padding: 0;
    /* Eliminar padding predeterminado, si es necesario */
    height: 100vh;
    /* Asegura que el body ocupe toda la altura de la ventana */
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1000;
}

.info-container {
    position: relative;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 80px auto;
    max-width: 80%;
    width: auto;
    text-align: center;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: -100px;
}

.pokemonImg {
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 290px;
    z-index: 1;
}

.types {
    position: relative;
    /* Mantiene la posición relativa */
    z-index: 2;
    /* Asegura que los tipos estén encima de la imagen */
    margin-top: 80px;
    /* Ajusta el margen superior según sea necesario para dar espacio a la imagen */
}

/* -------------------------------------------------------------------------- */
/*                                    STATS                                   */
/* -------------------------------------------------------------------------- */


.base-stats {
    width: 500px;
    padding: 20px;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.stat-name,
.stat-values {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stat-name {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    flex-basis: 20%;
}

.separator {
    width: 1px;
    background-color: #ddd;
    margin: 0 20px;
    height: 100%;
}

.stat-values {
    flex-grow: 1;
}

.stat {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 15px;
}

.stat-info {
    display: flex;
    align-items: center;
    width: 100%;
}

.stat-value {
    min-width: 40px;
    text-align: right;
    margin-right: 15px;
    font-size: 1.1em;
    font-weight: bold;
}

.progress-container {
    flex-grow: 1;
    background-color: #e0e0e0;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    height: 100%;
    transition: width 0.5s ease-in-out;
    position: relative;
}

.progress-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0.3) 50%,
            rgba(255, 255, 255, 0) 51%,
            rgba(255, 255, 255, 0) 100%);
}







/* -------------------------------------------------------------------------- */
/*                                INFO POKEMON                                */
/* -------------------------------------------------------------------------- */

.pokemon-info {
    display: flex;
    align-items: center;
    /* Alinear verticalmente */
    justify-content: center;
    /* Alinear horizontalmente */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    /* Centrar el texto en el contenedor */
    margin: 0 auto;
    /* Centrar el contenedor en el espacio disponible */
}

.separator {
    width: 2px;
    height: 20px;
    background-color: #ccc;
}

.info-item {
    margin: 0 10px;
}

.info-item strong {
    color: black;
}

.info-item p {
    color: black;
}

.ability-item {
    color: black;
}



/* -------------------------------------------------------------------------- */
/*                                    TYPES                                   */
/* -------------------------------------------------------------------------- */

.type {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.types {
    margin-top: 10%;
}


/* -------------------------------------------------------------------------- */
/*                                    ABOUT                                   */
/* -------------------------------------------------------------------------- */

.about {
    text-align: center;
    /* Centrar el texto horizontalmente */
    margin: 20px 0;
    /* Espaciado arriba y abajo, ajusta según sea necesario */
    font-size: 24px;
    /* Tamaño de fuente, ajusta según sea necesario */
}



/* -------------------------------------------------------------------------- */
/*                                   MOVILES                                  */
/* -------------------------------------------------------------------------- */
@media only screen and (max-width: 480px) {
    .base-stats {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
    }

    .pokemonImg {
        position: absolute;
        top: -25%;
        left: 50%;
        transform: translate(-50%, 0);
        height: 30%;
        z-index: 2;
    }

    .logo {
        position: relative;
        width: 300px;
        height: auto;
        margin-right: 35%;
        z-index: 1;
    }

    .idPokemon {
        position: absolute;
        left: 88%;
        top: 68%;
        z-index: 2;
    }

    .info-container .pokemonImg {
        z-index: 2;
    }
}
