/* Colores para los tipos de Pokémon */
.grass {
    background-color: rgb(116, 203, 72);
    color: white;
}

.poison {
    background-color: rgb(164, 62, 158);
    color: white;
}

.fire {
    background-color: rgb(245, 125, 49);
    color: white;
}

.water {
    background-color: rgb(100, 147, 235);
    color: white;
}

.bug {
    background-color: rgb(167, 183, 35);
    color: white;
}

.electric {
    background-color: rgb(249, 207, 48);
    color: white;
}

.flyingD {
    background-color: rgb(168, 145, 236);
    color: white;
}

body,
html {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
}

.detail-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Nuevo contenedor para el encabezado */
.header {
    display: flex;
    justify-content: space-between;
    /* Espacio entre nombre, ID y logo */
    width: 80%;
    /* Mantiene el encabezado en el 80% del ancho */
    align-items: center;
    /* Alinear verticalmente */
    margin-bottom: 10px;
    /* Espacio entre el encabezado y la caja de información */
}

.name {
    margin: 0;
    /* Elimina márgenes para mejor alineación */
}

.idPokemon {
    margin: 0;
    /* Elimina márgenes para mejor alineación */
}

.logo {
    width: 200px;
    height: auto;
    opacity: 0.2;
}

.info-container {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* .pokemonImg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    height: auto;
    z-index: 1;
} */

.pokemon-info {
    display: flex; 
    align-items: center; /* Alinear verticalmente */
    justify-content: center; /* Alinear horizontalmente */
    padding: 20px;
    border-radius: 10px;
    text-align: center; /* Centrar el texto en el contenedor */
    margin: 0 auto; /* Centrar el contenedor en el espacio disponible */
}

.info-item {
    margin: 0 10px;
}

.separator {
    width: 2px;
    height: 20px;
    background-color: #ccc;
}

.info-item {
    margin: 0 10px;
}

.info-item strong {
    color: black;
}

.info-item p {
    color: black;
}

.ability-item {
    color: black;
}

.type {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.about {
    text-align: center; /* Centrar el texto horizontalmente */
    margin: 20px 0; /* Espaciado arriba y abajo, ajusta según sea necesario */
    font-size: 24px; /* Tamaño de fuente, ajusta según sea necesario */
}

.info-container {
    display: flex;
    flex-direction: column; /* Alinear elementos en una columna */
    align-items: center; /* Centrar elementos horizontalmente */
    padding: 20px;
}

/* ///////////////////// */


.base-stats {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.stats-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.stat-name, .stat-values {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stat-name {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    flex-basis: 20%;
}
.separator {
    width: 1px;
    background-color: #ddd;
    margin: 0 20px;
}
.stat-values {
    flex-grow: 1;
}
.stat {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 15px;
}
.stat-info {
    display: flex;
    align-items: center;
    width: 100%;
}
.stat-value {
    min-width: 40px;
    text-align: right;
    margin-right: 15px;
    font-size: 1.1em;
    font-weight: bold;
}
.progress-container {
    flex-grow: 1;
    background-color: #e0e0e0;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
}
.progress-bar {
    height: 100%;
    transition: width 0.5s ease-in-out;
    position: relative;
}
.progress-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0.1) 0%,
        rgba(255,255,255,0.3) 50%,
        rgba(255,255,255,0) 51%,
        rgba(255,255,255,0) 100%
    );
}